n8n-node/examples/schadenmeldung-triage/workflow.json
{
  "name": "AoT Harness — Schadenmeldungs-Triage (Makler-Demo)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Schadenmeldung erfassen",
        "formDescription": "Kundenmail + Police-Daten eintragen — der Workflow erstellt 2 Gmail-Drafts (an Kunden + Versicherer) zur Freigabe.",
        "formFields": {
          "values": [
            { "fieldLabel": "Kundenname", "requiredField": true },
            { "fieldLabel": "Kunden-E-Mail", "fieldType": "email", "requiredField": true },
            { "fieldLabel": "Policennummer", "requiredField": true, "placeholder": "z.B. HR-48291-B" },
            { "fieldLabel": "Police-Daten", "fieldType": "textarea", "requiredField": true, "placeholder": "Sparte, Deckungssumme, SB, Ausschluesse, ..." },
            { "fieldLabel": "Schaden-Mail", "fieldType": "textarea", "requiredField": true, "placeholder": "Kompletter Text der eingehenden Kundenmail" },
            {
              "fieldLabel": "Dringlichkeit",
              "fieldType": "dropdown",
              "fieldOptions": { "values": [{ "option": "standard" }, { "option": "sofort" }] },
              "requiredField": true
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger-form",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "schaden-triage-demo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "goal-1",
              "name": "goal",
              "value": "=AUSGABE MUSS EIN EINZELNES VALIDES JSON-OBJEKT SEIN — KEIN MARKDOWN, KEIN FLIESSTEXT DAVOR ODER DANACH.\n\nAufgabe: Bearbeite folgenden Versicherungsschaden fuer Kunden {{ $json['Kundenname'] }}.\n\nDringlichkeit: {{ $json['Dringlichkeit'] }}\nPolicennummer: {{ $json['Policennummer'] }}\n\nPOLICE-DATEN:\n{{ $json['Police-Daten'] }}\n\nKUNDEN-MAIL:\n---\n{{ $json['Schaden-Mail'] }}\n---\n\nGENERIERE STRUKTURIERT auf Deutsch:\n1. Klassifikation: Sparte, Schadenart, Dringlichkeit (kurz)\n2. Sofort-Massnahmen fuer den Kunden (konkrete Handlungsliste, max. 5 Punkte)\n3. Mail-Entwurf an Kunden: empathisch, konkret, Bezug auf Police (Policennummer + Deckungsrelevantes aus den Police-Daten)\n4. Mail-Entwurf an Versicherer: foermlich, Policennummer, Schadenart, Schadendatum (heute), Hergang laut Kunde, Bitte um Schadennummer und Regulierungszusage\n\nGIB GENAU DIESES JSON ZURUECK:\n{\n  \"klassifikation\": {\"sparte\": \"...\", \"schadenart\": \"...\", \"dringlichkeit\": \"...\"},\n  \"sofort_massnahmen\": [\"Schritt 1\", \"Schritt 2\"],\n  \"mail_an_kunden\": \"Sehr geehrter Herr/Frau ..., ...\",\n  \"mail_an_versicherer\": \"Sehr geehrte Damen und Herren, ...\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-goal",
      "name": "Build Goal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "provider": "google",
        "model": "gemini-2.5-flash",
        "goal": "={{ $json.goal }}",
        "mode": "chip",
        "enableMixedMode": true,
        "decomposerProvider": "anthropic",
        "decomposerModel": "claude-sonnet-4-6",
        "advanced": {
          "qaThreshold": 0.75,
          "maxAtoms": 5,
          "maxTokens": 2000,
          "qaRetry": true,
          "language": "de"
        }
      },
      "id": "aot-harness",
      "name": "AoT Harness",
      "type": "n8n-nodes-aot-harness.aotHarness",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "googleGeminiAotApi": { "id": "1", "name": "AoT Harness — Google Gemini" },
        "anthropicAotApi": { "id": "2", "name": "AoT Harness — Anthropic" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "qa-gte-075",
              "leftValue": "={{ $json.qa_score }}",
              "rightValue": 0.75,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "qa-check",
      "name": "QA Check (>= 0.75?)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Robustes Parsing + Schema-Defaults + Sanity-Checks + QA-Band.\nconst MAX_LEN = 2500;\nconst MIN_MAIL_LEN = 120;\nconst clamp = (s) => (typeof s === 'string' ? s.substring(0, MAX_LEN) : '');\n\nconst raw = ($input.item.json.output || $input.item.json.result || '').toString();\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nlet parsed;\ntry {\n  parsed = JSON.parse(match ? match[0] : raw);\n} catch (e) {\n  parsed = { _parse_error: e.message };\n}\nif (typeof parsed !== 'object' || parsed === null) parsed = {};\n\n// Schema-Defaults — garantiert alle erwarteten Keys, egal was der LLM liefert:\nparsed.klassifikation = parsed.klassifikation || { sparte: 'unbekannt', schadenart: 'unbekannt', dringlichkeit: 'standard' };\nparsed.sofort_massnahmen = Array.isArray(parsed.sofort_massnahmen) ? parsed.sofort_massnahmen : [];\nif (!parsed.sofort_massnahmen.length) parsed.sofort_massnahmen = ['Bitte manuell pruefen — kein strukturierter Output vom LLM.'];\nparsed.mail_an_kunden = clamp((typeof parsed.mail_an_kunden === 'string' && parsed.mail_an_kunden.trim()) ? parsed.mail_an_kunden : raw);\nparsed.mail_an_versicherer = clamp((typeof parsed.mail_an_versicherer === 'string' && parsed.mail_an_versicherer.trim()) ? parsed.mail_an_versicherer : raw);\nparsed.sofort_massnahmen_text = parsed.sofort_massnahmen.map(s => '- ' + s).join('\\n');\n\n// Sanity-Checks → Warnungen fuer Makler-Review\nconst warnings = [];\nif (!parsed.klassifikation.sparte || /unbekannt|unknown|n\\/a/i.test(parsed.klassifikation.sparte)) warnings.push('Sparte nicht klassifiziert');\nif (!parsed.klassifikation.schadenart || /unbekannt|unknown|n\\/a/i.test(parsed.klassifikation.schadenart)) warnings.push('Schadenart nicht klassifiziert');\nif (parsed.sofort_massnahmen.every(s => typeof s === 'string' && s.trim().length < 15)) warnings.push('Sofort-Massnahmen zu kurz/unspezifisch');\nif (parsed.mail_an_kunden.length < MIN_MAIL_LEN) warnings.push('Kundenmail ungewoehnlich kurz (<' + MIN_MAIL_LEN + ' Zeichen)');\nif (parsed.mail_an_versicherer.length < MIN_MAIL_LEN) warnings.push('Versicherer-Mail ungewoehnlich kurz (<' + MIN_MAIL_LEN + ' Zeichen)');\nif (parsed.mail_an_kunden.length === MAX_LEN) warnings.push('Kundenmail auf ' + MAX_LEN + ' Zeichen gekuerzt');\nparsed.warnings = warnings;\n\n// QA-Band (Interpretation des qa_score fuer Makler):\nconst score = Number($input.item.json.qa_score) || 0;\nlet qa_band, qa_band_label;\nif (score >= 0.9)      { qa_band = 'hoch';   qa_band_label = 'hoch verlaesslich — Drafts direkt freigeben'; }\nelse if (score >= 0.75) { qa_band = 'mittel'; qa_band_label = 'entwurfsreif — vor Versand durchlesen'; }\nelse                     { qa_band = 'niedrig'; qa_band_label = 'manuelle Pruefung zwingend'; }\nparsed.qa_band = qa_band;\nparsed.qa_band_label = qa_band_label;\n\nreturn { json: { ...$input.item.json, parsed } };"
      },
      "id": "parse-output",
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=Re: Ihre Schadenmeldung — Police {{ $('Form Trigger').item.json['Policennummer'] }}",
        "emailType": "text",
        "message": "={{ $json.parsed.mail_an_kunden }}",
        "options": {
          "sendTo": "={{ $('Form Trigger').item.json['Kunden-E-Mail'] }}"
        }
      },
      "id": "draft-customer",
      "name": "Draft to Customer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": {
        "gmailOAuth2": { "id": "3", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=Schadenmeldung Police {{ $('Form Trigger').item.json['Policennummer'] }}",
        "emailType": "text",
        "message": "={{ $json.parsed.mail_an_versicherer }}",
        "options": {
          "sendTo": "schaden@versicherer.example"
        }
      },
      "id": "draft-insurer",
      "name": "Draft to Insurer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1560, 200],
      "credentials": {
        "gmailOAuth2": { "id": "3", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "makler@dein-buero.de",
        "subject": "=✓ Schadenmeldung triagiert — Police {{ $('Form Trigger').item.json['Policennummer'] }}",
        "emailType": "text",
        "message": "=Schadenmeldung triagiert — Entscheidungsuebersicht\n\nFALL\n  Kunde:       {{ $('Form Trigger').item.json['Kundenname'] }}\n  Police:      {{ $('Form Trigger').item.json['Policennummer'] }}\n  Sparte:      {{ $('Parse Output').item.json.parsed.klassifikation.sparte }}\n  Schadenart:  {{ $('Parse Output').item.json.parsed.klassifikation.schadenart }}\n  Dringlichk.: {{ $('Parse Output').item.json.parsed.klassifikation.dringlichkeit }}\n\nSTATUS\n  Drafts erstellt:  JA (Kunde + Versicherer)\n  QA-Score:         {{ $('AoT Harness').item.json.qa_score }} → {{ $('Parse Output').item.json.parsed.qa_band_label }}\n  Bearbeitungskosten: USD {{ $('AoT Harness').item.json.cost.total_usd }}\n  Dekomposition:    {{ $('AoT Harness').item.json.atoms_done }} von {{ $('AoT Harness').item.json.atoms_total }} Atomen\n\nRISIKO-HINWEISE\n  {{ $('Parse Output').item.json.parsed.warnings.length ? '- ' + $('Parse Output').item.json.parsed.warnings.join('\\n  - ') : 'keine Auffaelligkeiten' }}\n\nEMPFOHLENE NAECHSTE SCHRITTE\n  1. Gmail-Entwuerfe pruefen (Kunde: {{ $('Form Trigger').item.json['Kunden-E-Mail'] }} + Versicherer: schaden@versicherer.example)\n  2. Versicherer-Adresse auf korrekten Empfaenger anpassen\n  3. Bei QA-Band 'niedrig' oder Warnungen: NICHT ungeprueft senden\n  4. Schadennummer vom Versicherer nach Versand im System anlegen\n\nSOFORT-MASSNAHMEN FUER DEN KUNDEN (im Kunden-Draft enthalten)\n{{ $('Parse Output').item.json.parsed.sofort_massnahmen_text }}\n\n— AoT Harness",
        "options": {}
      },
      "id": "notify-ok",
      "name": "Notify Makler (OK)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 200],
      "credentials": {
        "gmailOAuth2": { "id": "3", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "makler@dein-buero.de",
        "subject": "=⚠️ HITL-Review noetig — Police {{ $('Form Trigger').item.json['Policennummer'] }}",
        "emailType": "text",
        "message": "=ACHTUNG — der Workflow konnte keinen ausreichenden QA-Score erreichen.\nDrafts wurden NICHT erstellt. Bitte manuell pruefen und bearbeiten.\n\nKUNDE:    {{ $('Form Trigger').item.json['Kundenname'] }}\nE-MAIL:   {{ $('Form Trigger').item.json['Kunden-E-Mail'] }}\nPOLICE:   {{ $('Form Trigger').item.json['Policennummer'] }}\nDRINGL.:  {{ $('Form Trigger').item.json['Dringlichkeit'] }}\n\nQA-Score: {{ $json.qa_score }} (Schwelle 0.75)\nAnmerkungen QA-Agent:\n{{ $json.notes ? $json.notes.join('\\n- ') : '(keine)' }}\n\nURSPRUENGLICHE MAIL:\n---\n{{ $('Form Trigger').item.json['Schaden-Mail'] }}\n---\n\nLLM-OUTPUT (rohe QA-Antwort):\n---\n{{ $json.output }}\n---\n\n— AoT Harness (HITL-Gate)",
        "options": {}
      },
      "id": "notify-hitl",
      "name": "HITL Notify Makler",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 440],
      "credentials": {
        "gmailOAuth2": { "id": "3", "name": "Gmail account" }
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Build Goal", "type": "main", "index": 0 }]]
    },
    "Build Goal": {
      "main": [[{ "node": "AoT Harness", "type": "main", "index": 0 }]]
    },
    "AoT Harness": {
      "main": [[{ "node": "QA Check (>= 0.75?)", "type": "main", "index": 0 }]]
    },
    "QA Check (>= 0.75?)": {
      "main": [
        [{ "node": "Parse Output", "type": "main", "index": 0 }],
        [{ "node": "HITL Notify Makler", "type": "main", "index": 0 }]
      ]
    },
    "Parse Output": {
      "main": [[{ "node": "Draft to Customer", "type": "main", "index": 0 }]]
    },
    "Draft to Customer": {
      "main": [[{ "node": "Draft to Insurer", "type": "main", "index": 0 }]]
    },
    "Draft to Insurer": {
      "main": [[{ "node": "Notify Makler (OK)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "demo" },
    { "name": "aot-harness" },
    { "name": "versicherung" },
    { "name": "makler" },
    { "name": "schadenmeldung" }
  ],
  "meta": {
    "description": "Produktiver Use-Case für Versicherungsmakler/Kaufleute: eingehende Schadenmail + Police-Daten → AoT-decomposed in 4 Atoms (Klassifikation, Sofort-Maßnahmen, Kunden-Draft, Versicherer-Draft) → QA-Gate → 2 Gmail-Drafts + Notify oder HITL-Review-Mail. Mixed-Provider (Claude Sonnet decomposed, Gemini Flash executes) ~$0.005/Lauf."
  }
}
